body {
    margin-top:2rem;
    margin-bottom:2rem;
    width: 600px;
    height: 100%
}

.hidden {
  visibility: hidden;
}

.legal h6 {
    color: lightgreen !important;
}

.illegal h6 {
    color: lightcoral !important;
}